/* Estilos generales para las páginas de Proyectos y Sobre mí */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #d4a5a5, #a98787); /* Tonos pastel suaves y elegantes */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section {
    padding: 40px 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    flex: 1 1 calc(30% - 20px);
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

.project img {
    width: 100%;
    border-radius:30px;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.project:hover img {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    padding: 20px;
}

footer a {
    color: #9f7b9f; /* Color pastel elegante */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .project {
        flex: 1 1 calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .project {
        flex: 1 1 100%;
    }
}
