/* Estilos generales para las páginas de Proyectos y Sobre mí */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #54575b; /* Azul Oscuro */
    color: #FFFFFF; /* Blanco */
    line-height: 1.6;
}

header {
    background-color: #54575b; /* Azul Oscuro */
    color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section {
    padding: 40px 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Ajustes de diseño tipo 'Masonry' para la galería de proyectos */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.project {
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.project img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Título y Descripción del Proyecto */
.project .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    color: #FFFFFF; /* Blanco */
    padding: 15px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-sizing: border-box;
}

/* Ajustes de tamaño de texto */
.project .project-info h3 {
    margin: 0;
    font-size: 1.1rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project .project-info p {
    margin: 5px 0 0;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mostrar el título y descripción cuando se hace hover */
.project:hover .project-info {
    opacity: 1;
}

.project:hover {
    transform: translateY(-5px);
}

.project:hover img {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    padding: 20px;
}

footer a {
    color: #a54d4d; /* Coral Suave */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}












